{% extends 'master.html' %}
{% load static %}
{% load humanize %}


{% block content %}
    <!--Search header-->
    <section id="showcase-inner" class="showcase-search text-white py-5"
             style="background: url('{% static "img/header.jpg" %}')">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-12">
                    <form action="{% url 'search' %}">
                        <!-- Form Row 1 -->
                        <div class="form-row">
                            <!--keyword-->
                            <div class="col-md-4 mb-3">
                                <label class="sr-only">Keywords</label>
                                <input type="text" name="keywords" value="{{ values.keywords }}" class="form-control"
                                       placeholder="Keyword (Workspace, Amenities, etc)">
                            </div>

                            <!--town-->
                            <div class="col-md-4 mb-3">
                                <label class="sr-only">Town</label>
                                <input type="text" value="{{ values.town }}" name="town" class="form-control"
                                       placeholder="Town or Location">
                            </div>

                            <!--county-->
                            <div class="col-md-4 mb-3">
                                <label class="sr-only">County</label> <!--change to county-->
                                <select name="county" class="form-control">
                                    <option selected="" disabled="disabled">County</option>
                                    {% for entry,value in county_options.items %}
                                        <option value="{{ entry }}"
                                                {% if entry == values.county %}
                                                selected
                                                {% endif %}
                                        >{{ value }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <!-- Form Row 2 -->
                        <div class="form-row">
                            <!--Desks-->
                            <div class="col-md-6 mb-3">
                                <label class="sr-only">Desks</label>
                                <select name="desks" class="form-control">
                                    <option selected="" disabled="disabled">Number of Desks</option>
                                    {% for entry,value in desk_options.items %}
                                        <option value="{{ entry }}"
                                                {% if entry == values.desks %}
                                                selected
                                                {% endif %}
                                        >{{ value }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <!--Price-->
                            <div class="col-md-6 mb-3">
                                <select name="price" class="form-control" id="type">
                                    <option selected="" disabled="disabled">Monthly Budget</option>
                                    {% for entry,value in price_options.items %}
                                        <option value="{{ entry }}"
                                                {% if entry == values.price %}
                                                selected
                                                {% endif %}
                                        >{{ value }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <button class="btn btn-secondary btn-block mt-4" type="submit">Browse Spaces</button>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <!-- Breadcrumb mini nav-->
    <section id="bc" class="mt-3">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="{% url 'index' %}">
                            <i class="fas fa-home"></i> Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="{% url 'spaces' %}">Browse Spaces</a>
                    </li>
                    <li class="breadcrumb-item active"> Search Results</li>
                </ol>
            </nav>
        </div>
    </section>

    <!-- Space Listings -->
    <section id="listings" class="py-4" style="background: #e1e0e0">
        <div class="container">
            <div class="row">

                {% if spaces %}
                    {% for space in spaces %}

                        {#space#}
                        <div class="col-md-6 col-lg-4 mb-4">
                            <div class="card listing-preview">
                                <img class="card-img-top" src="{{ space.main_space_photo.url }}" alt="">
                                <div class="card-img-overlay">
                                    <h2>
                                        <span class="badge badge-secondary"
                                              style="color: #FFFF00">Ksh. {{ space.daily_charges | intcomma }}/day</span>
                                    </h2>
                                </div>
                                <div class="card-body">
                                    <div class="listing-heading text-center">
                                        <h4 class="text-primary">{{ space.name }}</h4>
                                        <p>
                                            <i class="fas fa-map-marker text-secondary"></i> {{ space.town_or_location }}, {{ space.county }}
                                        </p>
                                    </div>
                                    <hr>
                                    <div class="row py-2 text-secondary">
                                        <div class="col-6">
                                            <i class="fas fa-th-large"></i> Rooms: {{ space.rooms }}
                                        </div>
                                        <div class="col-6">
                                            <i class="fas fa-couch"></i> Desks: {{ space.desks }}
                                        </div>
                                    </div>
                                    <div class="row py-2 text-secondary">
                                        <div class="col-6">
                                            <i class="fa-solid fa-user-group"></i> Capacity: {{ space.capacity }}
                                        </div>
                                        <div class="col-6">
                                            <i class="fas fa-car"></i> Parking: {{ space.parking }}
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row py-2 text-secondary">
                                        <div class="col-12">
                                            <i class="fas fa-clock"></i> Open: {{ space.open_time }}
                                            - {{ space.closing_time }}
                                        </div>
                                    </div>
                                    <div class="row text-secondary pb-2">
                                        <div class="col-12">
                                            <i class="fas fa-calendar-check"></i> Availability: {{ space.days_open }}
                                        </div>
                                    </div>
                                    <hr>
                                    <a href="{% url 'space' space.id %}" class="btn btn-primary btn-block">View
                                        Details</a>
                                </div>
                            </div>
                        </div>

                    {% endfor %}

                {% else %}

                    {#not available#}
                    <div class="col-md-12">
                        Spaces are in high demand! Nothing here yet, check back soon for new availability.
                    </div>

                {% endif %}

            </div>
        </div>
    </section>
{% endblock %}