{% extends 'master.html' %}
{% load static %}


{% block content %}

    <!-- About-->
    <section id="showcase-inner" class="py-5 text-white" style="background: url('{% static "img/table.jpg" %}')">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-12">
                    <h1 class="display-4">About Jhav Space</h1>
                    <p class="lead">Flexible Workspaces, Simplified!</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Breadcrumb - mini-nav -->
    <section id="bc" class="mt-3">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="{% url 'index' %}">
                            <i class="fas fa-home"></i> Home</a>
                    </li>
                    <li class="breadcrumb-item active"> About</li>
                </ol>
            </nav>
        </div>
    </section>

    <!--about-text-->
    <section id="about" class="py-4" style="background: #e1e0e0">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h2>We Match You with the Best Workspaces</h2>
                    <p class="lead">Whether you're looking to network, grow your business, or simply find a quiet spot
                        to focus and be productive, we will support you in every step of your professional journey.</p>
                    <img src="{% static 'img/about.jpg' %}" alt="">
                    <p class="mt-4">We are committed to revolutionizing how professionals, businesses, and creatives
                        approach workspaces, offering innovative solutions tailored to meet diverse needs. From shared
                        desks
                        and private offices to vibrant community hubs, Jhav Space is your gateway to discovering spaces
                        designed to elevate your productivity and collaboration.</p>
                </div>

                <!--spotlight-->
                <div class="col-md-4">
                    <div class="card">
                        <img class="card-img-top" src="assets/img/spaces/space-4.jpg"
                             alt="Spotlight Space of the Month:">
                        <div class="card-body text-center">
                            <h5 class="card-title" style="color: #005555"><strong>Spotlight Workspace of the
                                Month:</strong></h5>
                            <h6 class="text-secondary"><strong>Mombasa Connect</strong></h6>
                            <p class="card-text">
                                This month, we’re shining a spotlight on Mombasa Connect for standing out with top
                                standards for innovation,
                                functionality, comfort, customer service, productivity, and community.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Work with us -->{% static "" %}
    <section id="work" class="bg-dark text-white text-center" style="background: url('{% static "img/table.jpg" %}')">
        <h2 class="display-4">Empowering Your Professional Journey</h2>
        <h4>We will guide you to the most suitable workspaces that enhance productivity and inspire collaboration.</h4>
        <hr>

        <div class="d-flex justify-content-center align-items-center w-50 text-center m-auto ">
            <a href="space.html" class="btn btn-primary btn-block" style="min-width: fit-content">Explore Spaces</a>
        </div>

    </section>

    <!-- Our Team -->
    <section id="team" class="py-5" style="background: #e1e0e0">
        <div class="container">
            <h2 class="text-center">Meet Our Team</h2>
            <div class="row text-center">
                <!--manager-->
                <div class="col-md-4">
                    <img src="assets/img/managers/faith.jpg" alt="" class="rounded-circle mb-3">
                    <h4>Kyle Brown</h4>
                    <p class="text-success">
                        <i class="fas fa-award text-success mb-3"></i> Manager, Head of Space Operations</p>
                    <hr>
                    <p>
                        <i class="fas fa-map-marker text-secondary"></i> Mombasa
                    </p>
                    <p>
                        <i class="fas fa-phone"></i> (+254) 712345678</p>
                    <p>
                        <i class="fas fa-envelope-open"></i> kyle@jhavspace.co.ke</p>
                </div>

                <!--manager-->
                <div class="col-md-4">
                    <img src="assets/img/managers/faith.jpg" alt="" class="rounded-circle mb-3">
                    <h4>Kyle Brown</h4>
                    <p class="text-success">
                        Manager, Head of Space Operations</p>
                    <hr>
                    <p>
                        <i class="fas fa-map-marker text-secondary"></i> Mombasa
                    </p>
                    <p>
                        <i class="fas fa-phone"></i> (+254) 712345678</p>
                    <p>
                        <i class="fas fa-envelope-open"></i> kyle@jhavspace.co.ke</p>
                </div>

                <!--manager-->
                <div class="col-md-4">
                    <img src="assets/img/managers/faith.jpg" alt="" class="rounded-circle mb-3">
                    <h4>Kyle Brown</h4>
                    <p class="text-success">
                        Manager, Head of Space Operations</p>
                    <hr>
                    <p>
                        <i class="fas fa-map-marker text-secondary"></i> Mombasa
                    </p>
                    <p>
                        <i class="fas fa-phone"></i> (+254) 712345678</p>
                    <p>
                        <i class="fas fa-envelope-open"></i> kyle@jhavspace.co.ke</p>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
