{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {#CSS#}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {#Main#}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    {#Bootstrap#}
    <link rel="stylesheet" href="{% static 'css/lightbox.min.css' %}">
    {#Lightbox#}
    <link rel="stylesheet" href="{% static 'css/all.css' %}">
    {#Fontawesome#}

    <title>Jhav Space {% block title %}{% endblock %} </title>
</head>
<body>


{#Navbar#}
{% include 'components/_navigation.html' %}

{#Dynamic Content#}
{% block content %}

{% endblock %}

{#Footer#}
{% include 'components/_footer.html' %}

{#Javascript#}
<script src="{% static 'js/jquery-3.3.1.min.js ' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %} "></script>
<script src="{% static 'js/main.js' %} "></script>
<script src="{% static 'js/lightbox.min.js' %} "></script>
<script src="https://kit.fontawesome.com/1be10f3e59.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<!-- Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>