{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {#CSS#}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {#Main#}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    {#Bootstrap#}
    <link rel="stylesheet" href="{% static 'css/lightbox.min.css' %}">
    {#Lightbox#}
    <link rel="stylesheet" href="{% static 'css/all.css' %}">
    {#Fontawesome#}

    <title>Jhav Space</title>
</head>
<body>
{#Banner#}
{% include 'components/_banner.html' %}

{#Navbar#}
{% include 'components/_navigation.html' %}

{#Dynamic Content#}
{% block content %}

{% endblock %}

{#Footer#}
{% include 'components/_footer.html' %}

{#Javascript#}
<script src="{% static 'js/jquery-3.3.1.min.js ' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %} "></script>
<script src="{% static 'js/main.js' %} "></script>
<script src="{% static 'js/lightbox.min.js' %} "></script>
<script src="https://kit.fontawesome.com/1be10f3e59.js" crossorigin="anonymous"></script>
</body>
</html>