<!-- Footer -->
<footer id="main-footer" class="py-4 bg-primary text-white text-center">

    <div style="max-width: 1200px; margin: 0 auto;">
        <!-- Contact Information Section -->
        <div style="margin-bottom: 20px;">
            <h3 style="font-size: 18px; color: #ffffff;">Contact Us</h3>
            <p style="color: #ffffff;">Have questions or need assistance? Reach out to us!</p>
            <p style="color: #ffffff;">
                <i class="fas fa-envelope"></i>
                <a href="mailto:support@jhavspace.co.ke"
                   style="color: #ffffff; text-decoration: none;">support@jhavspace.co.ke</a>
            </p>
            <p style="color: #ffffff;">
                <i class="fas fa-phone-square"></i>
                <a href="tel:+254 712345678" style="color: #ffffff; text-decoration: none;"> +254 712345678</a></p>
        </div>

        <br>

        <!-- Social Links Section -->
        <div>
            <h3 style="font-size: 18px; color: #ffffff;">Follow Us</h3>
            <a target="_blank" href="https://facebook.com" style="margin: 0 10px; color: #ffffff; text-decoration: none;">
                <i class="fab fa-facebook"></i>
            </a>
            <a target="_blank" href="https://twitter.com" style="margin: 0 10px; color: #ffffff; text-decoration: none;">
                <i class="fab fa-twitter"></i>
            </a>
            <a target="_blank" href="https://linkedin.com" style="margin: 0 10px; color: #ffffff; text-decoration: none;">
                <i class="fab fa-linkedin-in"></i>
            </a>
            <a target="_blank" href="https://instagram.com" style="margin: 0 10px; color: #ffffff; text-decoration: none;">
                <i class="fab fa-instagram"></i>
            </a>
        </div>

    </div>

    <br>

    Copyright &copy;
    <span class="year"></span> <span style="color: #d6ba1c">Jhav Space.</span>
</footer>


