{% if messages %}
    {% for message in messages %}
        <div id="message" class="container">
            <div class="alert text-center alert-dismissible show alert-{{ message.tags }}" role="alert">
                <button class="close" data-dismiss="alert" type="button"><span aria-hidden="true">&times;</span>
                </button>
                <strong>
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                        Oops!
                    {% else %}
                        {{ message.tags | title }}
                    {% endif %}
                </strong>
                {{ message }}

            </div>
        </div>
    {% endfor %}

    {#Javascript for alerts with show class above#}
    <script>
        // Automatically dismiss the alert after 3 seconds
        setTimeout(function () {
            var alerts = document.querySelectorAll('.alert');
            alerts.forEach(function (alert) {
                // Fade the alert
                alert.classList.remove('show');
                alert.classList.add('fade');

                // After fade out, remove it from the DOM entirely
                setTimeout(function () {
                    alert.parentElement.removeChild(alert); // Removes the alert
                }, 500); // Matches the fade duration for smooth removal
            });
        }, 3000); // Adjust 3000 for more/less delay (in milliseconds)
    </script>


{% endif %} 